#hamburger, #ch-menu{
    display: none;
}

body{
    --inaltime-meniu: 35px;
    --latime-buton:150px;
    --culoare-meniu: var(--culoare3);
    --culoare-border-buton: black;
}

nav{
    --text-meniu: black;
    background-color: var(--culoare-meniu);
    width: calc(100vw - 15px);
    height: var(--inaltime-meniu);
    position: sticky;
    top: 0;
    margin-left:calc(-1*var(--spatiere-pagina));
}

ul.meniu,ul.meniu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}


ul.meniu{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    >li{
        flex-grow:0;
        flex-shrink: 0;
        flex-basis: var(--latime-buton);
    }
 li{
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    background-color: var(--culoare-meniu);
    overflow: hidden;
    text-align: center;
    border: 1px solid var(--culoare-border-buton);
    transition: background-color 0.3s linear;
    box-sizing: border-box;
}
}


ul.meniu li:hover{
    overflow: visible;
    background-color: var(--culoare4);
}

ul.meniu ul{
    opacity: 0;
    transition: all 0.3s linear;
    transform: scale(0,0);
    transform-origin: center top;
}

ul.meniu li:hover ul{
    opacity: 1;
    transform: scale(1,1);
}

ul.meniu li div, ul.meniu li a{
    display: block;
    width: 100%;
    height: 100%;
    color: var(--text-meniu);
    text-decoration: none;
    font-weight: bold;
    line-height: var(--inaltime-meniu);
}


#casuta_mediu {
    display: none;
}