<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Magazin naturist</title>
    <meta charset="UTF-8"><!-- codificarea în memorie a caracterelor-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- va fi explicat când ajungem la CSS -->
    <meta name="keywords" content="plante, natura, remedii naturiste, uleiuri esențiale, bio, tratament, vegan">
    <!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
    <meta name="description" content="Magazin naturist. Produse naturale. Produse din plante.">
    <!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->

  <%- include("../fragmente/head.ejs") %>



</head>
<body>
    <%- include("../fragmente/header.ejs") %>
<main>
<h2>
    Alta pagina
</h2>
</main>
<%- include("../fragmente/footer.ejs") %>
</body>
</html>