<footer>
    <div id="info"> 
    <a href="#">Mergi sus</a><br>
    <a href="tel:+40712345678">Sună</a>
    <img src="./resurse/ico/phone_logo.svg" alt="phone-logo" id="phone-logo"/><br>
    <a href="mailto:nature-life.">Trimite-ne un mail</a><br>
    <a href="https://wa.me/+40712345678" target="_blank">Contactează-ne pe WhatsApp</a><br>
</div>
    <address>Adresa:<a href="https://goo.gl/maps/nUQHY4U8mU484gJXA" target="_blank">Strada Academiei 14</a></address>
    <small>
        Copyright &copy; <time>datetime="2023-03-11" 11 Martie 2023</time> 
    </small>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8842997291954!2d26.09546682695311!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1677685760171!5m2!1sro!2sro"
            width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <p id="banner">
            Acesta este un proiect scolar!
        </p>
    <%- locals.optiuniMeniu %><%- locals.optiuniMeniu[0].unnest %>
</footer>