<header>
    <img src="./resurse/ico/logo.svg" alt="logo"/>
    <h1>Nature life</h1>
    
</header>
<nav id="animatie_meniu">
    <label id="hamburger" for="ch-menu">
        <div id="bars" class="fa-solid fa-bars"></div>
    </label>

    <input id="ch-menu" type="checkbox">

    <ul class="meniu">
            <!-- <div id="acasa">Home</div> <div id="acasa-mediu"></div> -->
            <li id="home_link"><div><i  class="fa-solid fa-house"></i><span id="home"> Home</span> <div id="home_icon"></div> </div>
            <ul>
                <li><a href="#welcome">Despre noi</a></li>
                <li><a href="#produse-recomandate">Produse recomandate</a></li>
                <li><a href="#anunturi">Anunțuri</a></li>
                <li>
                    <a href="#retete">Retete vegane</a>
                    <ol>
                        <li><a href="#retete">Rețete cu produsele noastre</a></li>
                    </ol>
                </li>
                <li><a href="#faq">Întrebări frecvente</a></li>
            </ul>
        </li>
        <li><a href="">Cauta </a></li>
        <li><a href="">Campanii promoționale</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Contul meu</a></li>
        <li><a href="">Coșul meu</a></li>
        <li><a href="">Produse favorite</a></li>
    </ul>

</nav>